#root {
  width:100%;
  margin: 0 0;
  /* padding: 2rem; */
  text-align: center;
}

.imgtest{
  height: 10cm;
  width: 10cm;
}

.navbar{
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.top{
  width: 100%;
}

.p-margin{
    margin-bottom: 0px;
}
